# Interactive Python
ipykernel
jupyterlab
tqdm

# Data Manipulation
numpy==1.26
pandas
pandas-ta
scipy

# Data Visualization
matplotlib
seaborn
plotly
dash
dash_bootstrap_components

# Finance & Backtesting
yfinance
backtrader
backtesting

# ML Libraries
scikit-learn
torch
torchvision
tensorflow

